body {
    background-color: rgba(9, 28, 91, 0.841);
}

.card-container {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.card {
    border: 3px double rgb(223, 94, 9);
    border-radius: 10px;
    offset: -10px;
    height: 600px;
}

.card img {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card:hover {
    box-shadow: 0 0 20px #ccc;
}

.date-label {
    text-align: center;
    color: white;
}

.hide {
    display: none;
}

#mars-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    color: white;
    padding: 10px;
}

#mars-images img {
    width: 60%;
    height: auto;
    border-radius: 10px;
}


