body {
    background-color: #070709
}

span
{
  display: inline-block;
}

.jumbotron-container {
    background-image: url('/images/jumbotron-for-mars-rovers.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 250px;
    margin-top: 40px;
}

.choose-rover {
    color: white;
    text-align: center;
    margin: 30px 0px;
}

.card {
    border: 3px double rgb(223, 94, 9);
    border-radius: 10px;
    offset: -10px;
}

.card img {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card:hover {
    box-shadow: 0 0 20px #ccc;
}

#datepicker {
    width: 20%;
    text-align: center;
}

.datepicker-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
}

.hide {
    display: none;
}

.error-message {
    text-align: center;
    color: white;
}



/* Carousel styles*/

.carousel-container{
      margin-top:20px;
      margin-bottom:10px;
  }

  .row {
    gap: 20px;
}

  .carousel-inner {
    width: 80% !important;
  }
  .carousel-inner img {
      width: 80%;
      height: 80%;
      border-radius: 10px;
  }

#custCarousel .carousel-indicators {
    position: static;
    margin-top:20px;
}

#custCarousel .carousel-indicators > li {
  width:100px;
}

 #custCarousel .carousel-indicators li img {
    display: block;
    opacity: 1;
 }

  #custCarousel .carousel-indicators li.active img {
    opacity: 1;
    border: 2px solid white;
  }

  #custCarousel .carousel-indicators li:hover img {
    opacity: 1;
  }

  @media screen and (max-width: 575px){
    .jumbotron-container {
        height: 200px;
        margin-top: 80px;
    }

    #datepicker {
        width: 40%;
    }
  
    .carousel-inner {
        width: 70% !important;
      }
   

}


@media screen and (min-width: 576px){
    .jumbotron-container {
        height: 180px;
        margin-top: 60px;
    }

    #datepicker {
        width: 30%;
    }
  
    .carousel-inner {
        width: 70% !important;
      }
    }


@media screen and (min-width: 768px){
    .jumbotron-container {
        height: 250px;
        margin-top:70px;
    }

    #datepicker {
        width: 25%;
    }
  
    .carousel-inner {
        width: 60% !important;
      }

    }


@media screen and (min-width: 992px){
    .jumbotron-container {
        height: 200px;
        margin-top:70px;
    }

    #datepicker {
        width: 15%;
    }
  
    .carousel-inner {
        width: 50% !important;
      }
      .row {
        gap: 0px;
      }
}