body {
    font-family: Arial;
    /* font-size: 120%; */
    background-color: #06070Cff;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    
  }
  .customNav{
    background-color: #06070Cff !important;
    color: #fff !important;
  }
  .nav-link{
    color: #fff !important;
  }
  .nav-link:hover{
    color:#DF4F12ff !important;
  }
  .navbar-nav{
    margin-right: 10px;
  }
  

  .container{
    background-image: url('../../images/Drawing.png');
    border-radius: 20px;
    color: #06070Cff;
    height: 500px;
    background-size:cover;
    background-repeat: no-repeat;
  }
  .jumbotron{
    padding-top: 100px;
  }
  
  a {
    padding-left: 10px;
    color: black;
    text-decoration: none;
    transition: color 0.1s;
  }
  .head{
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
  }
  
  /* a:hover {
    color: #322fdf;
  } */
  
  button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #454447;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
  }
  
  button:hover {
    background-color: #454447;
  }
  
  .choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 100%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  /* li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #f3edfc;
  } */
  
  .wrapper {
    margin: 0 auto;
    max-width: 800px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
  }
  
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }
  
  /* .scores {
    position: absolute;
    top: 10px;
    left: 10px;
  } */
  
  .feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #ccc;
  }
  
  /* .timer {
    position: absolute;
    top: 10px;
    right: 10px;
  } */

  
  .beat {
    animation: beat 2s infinite alternate;
  }

  @keyframes beat {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  